*{
    box-sizing: border-box;
}


body {
    background: url(image/ground.jpg) no-repeat center center fixed;
    background-size: cover; 
    margin: 0px;
}


nav{
    margin-top: 10px;
    font-family: Arial;
    text-align: center;
}   

nav a {
    padding: 14px 16px;
    display: inline-block;
}

nav a:hover{
    background-color: #B9FBC0;
    color: white;
}


main{
    padding: 30px;
}

article{
    float: center;
    width: 100%;
}

.clearfix{
    clear: both;
}

.cd{
    padding: 20px;
    margin: 10px auto;
    border-radius: 15px;
    background-image: url(image/background.jpg);
    background-size: cover;
    width: 70%;
    height: 300px;
    max-width: 900px;
    
}
.cd img{
    float: left;
    margin-right: 20px; 
    margin-bottom: 10px;
}

@property --percentage{
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
  
  @keyframes pieAni {
    from {
      --percentage: 0;
    }
  }
  
  .pie {
    width: 150px;
    aspect-ratio: 1;
    display: inline-grid;
    place-content: center;
    margin: 5px;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    position: relative;
    
  }

  .pie::before{
    content: "";
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--color) calc(var(--percentage) * 1%),#0000 0%), #eee;
    -webkit-mask-image: radial-gradient(farthest-side,#0000 calc(100% - 10px),#000 calc(100% - 10px));
    mask-image: radial-gradient(farthest-side,#0000 calc(100% - 10px),#000 calc(100% - 10px));
  }

  .pie.ani{
    animation-name: pieAni;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite; 
  }

  .cd.card01 {
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

 .cd01 {
    position: relative;
}

 .cd01 h2 {
    position: absolute;
    padding: 20px;
    top: 0;
    left: 0;
}

footer{
    color: #292828;
    background-color: #98F5E1;
    text-align: center;
    padding: 10px;
   
}

.footer-icons a {
    padding: 0 10px; 
}

.footer-icons a i {
    font-size: 30px;
}

.footer-icons .icon-wrapper {
    display: inline-block; 
    padding: 0 5px; 
  }

.cd.table{
    table {
        width: 600px; 
        height: 200px; 
        border-collapse: collapse; 
      }
      
      td {
        padding: 10px; 
        color: #4606ae;
      }
}  